@media screen  and (max-width:767.98px){
    .header-bottom .red-colum,
    #menu,
    .header-bottom .red-colum
    {
        display: none;
    }
    .header-top-bar{
        display: block;
    }
}
@media screen  and (max-width:375px){
    .header-top form{
        display: none;
    }
}